body {
  font-family: 'Raleway';
  background-color: $tertiary-color;
  color: $default-white;
}
.App, .content, .particle-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}