body {
  font-family: "Raleway";
  background-image: linear-gradient(90deg, $primary-color 10%, $tertiary-color 90%);
  background-repeat: repeat-y;
  background-size: cover;
  color: $default-white;
}
