body {
  font-family: 'Raleway';
  background-color: $tertiary-color;
  color: $default-white;

  &::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    width: 12px;
    border-radius: 10px;
    background-color: $primary-color;
  }
}
.App, .content, .particle-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}