.background-gradient {
  position: relative;

  &::after {
    content: "";
    background-color: $tertiary-color;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
  }
}