.card-grid {
  width: 30%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  column-gap: 1em;
  justify-items: center;
  justify-content: center;

  img {
    height: 2.5em;
  }
}

.card {
  max-width: 200px;
  max-height: 260px;
  width: 25rem;
  height: 30rem;
  perspective: 800px;
  border-radius: 10em;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 100%;
  text-align: center;
  border-radius: 1em;
  letter-spacing: .05em;

  display: flex;
  align-items: center;
  justify-content: center;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  color: $primary-color;
  background-color: $default-white;
  &.back {
    transform: rotateY(180deg);
  }

  svg {
    font-size: 8rem;
  }
}
