.experiences {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  column-gap: 1em;
  justify-items: center;
  
  span {
    letter-spacing: .05em
  }

  img {
    height: 2.5em;
  }
}
