.container {
  width: 100%;
  padding: 2em 0 2em 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.middle-column {
  margin: 0 auto;
  width: 50%;
  z-index: 2;
  text-align: center;
  color: $default-white;
  border-radius: 10%;
  padding: 1em;
  #name {
    margin-top: 0;
    font-size: 3rem;
  }

  a {
    color: $default-white;
    &:hover {
      color: $primary-color;
    }
  }
}

.landing {
  margin: 30% 0 50%;
}

.page-links {
  font-size: 1.5rem;
  a {
    color: $default-white;
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
    transition: color ease-in .2s;
  }
}

#scroll-text {
  font-size: 1em;
  color: $default-white;
  opacity: 0.5;
}