.home {
  padding: 2em 0 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.home-text {
  z-index: 2;
  grid-column: 2 / 3;
  align-self: center;
  text-align: center;
  color: $default-white;
  border-radius: 10%;
  padding: 1em;
  #name {
    margin-top: 0;
    font-size: 3rem;
  }
}

.page-links {
  font-size: 1.5rem;
  a {
    color: $default-white;
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
    transition: color ease-in .2s;
  }
}
