.slide {
  $leftStart: -1000px;
  $leftEnd: 0;

  -webkit-animation: slide 1s forwards;
  animation: slide 1s forwards;

  @-webkit-keyframes slide {
    from {
      left: $leftStart;
    }
    to {
      left: $leftEnd;
    }
  }
  @keyframes slide {
    from {
      left: $leftStart;
    }
    to {
      left: $leftEnd;
    }
  }
}
