.text-description {
  max-width: 60%;
  margin: 1em auto;
  padding: 1em 1em 0.5em 1em;
  font-size: 1.2rem;
  color: $default-black;
  transition: opacity ease-in 0.3s;
  height: 100vh;
  p, div {
    background-color: $default-white;
    border-radius: 1rem;
    padding: 1em;
  }
  h2 {
    margin-top: 0;
  }
  img {
    height: 2em;
    vertical-align: middle;
  }
}

