.text-description {
  max-width: 60%;
  margin: 1em auto;
  padding: 1em 1em 0.5em 1em;
  font-size: 1.2rem;
  color: $default-black;
  transition: opacity ease-in 0.3s;
  height: 100vh;
  &.slide {
    position: absolute;
    left: -1000px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.2s;
    animation: slide 0.5s forwards;
    animation-delay: 0.2s;
  }
  p {
    background-color: $default-white;
    border-radius: 1rem;
    padding: 1em;
  }
  h2 {
    margin-top: 0;
  }
  img {
    height: 2em;
    vertical-align: middle;
  }
}

@-webkit-keyframes slide {
  100% {
    left: 20%;
  }
}
@keyframes slide {
  100% {
    left: 20%;
  }
}
